@charset "utf-8";
@font-face {
    font-family: font1;
    src: url(./Font/Death\ Spirit.ttf);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
 }

body{
font-size: 1.3em;
font-family:'Times New Roman', Times, serif;
margin: 0;
padding: 0;
height: 100vh;
width: 100vw;
background-color: #924745;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23753937' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23582b29' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%233a1c1c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%231d0e0e' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23000000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

h1{
font-family: font1;
}

.main-header{
padding: 2em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.container{
height: 450px;
width: 500px;
overflow:hidden;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.imagem img{
width: 100%;
height: 70%;
border-radius: 5px;
border: 5px solid #aa9b9bab
}

.navegacao{
position: absolute;
bottom: 20px;
left: 50%;
transform: translate(-50%);
display: flex;
}

.bar{
background-color:#f0f8ff;
width: 30px;
height: 5px;
margin: 6px;
cursor: pointer;
transition: .5s;
}

.bar:hover{
background: #af480d;
width: 30px;
opacity: 0.4;
}

input{
display: none;
}

.imagens{
display: flex;
height: 100%;
width: 600%;
}

.imagem{
width: 16.6666666667%;
transition: 0.5s;
}

#imagem1:checked ~ .img1{
margin-left: 0;
}

#imagem2:checked ~ .img1{
margin-left: -16.6666666667%;
}

#imagem3:checked ~ .img1{
    margin-left: -33.3333333333%;
}

#imagem4:checked ~ .img1{
    margin-left: -50%;
}

#imagem5:checked ~ .img1{
    margin-left: -66.6666666667%;
}

#imagem6:checked ~ .img1{
    margin-left: -83.3333333333%;
}

footer{
    background-color: #3a2c2c;

    bottom:0;
}